<a href="https://colab.research.google.com/github/MUTHUKRISHNAN123/sample/blob/main/Ex_No_9_Programs_on_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

9.1 Perform data wrangling operations for real data set (Merging,combining,reshaping, pivoting and transformation)

Data Wrangling is also known as Data Munging.

In [6]:
#reshaping data
import pandas as pd
data = {'Name': ['Jai', 'Princi', 'Gaurav',
                 'Anuj', 'Ravi', 'Natasha', 'Riya'],
        'Age': [17, 17, 18, 17, 18, 17, 17],
        'Gender': ['M', 'F', 'M', 'M', 'M', 'F', 'F'],
        'Marks': [90, 76, 'NaN', 74, 65, 'NaN', 71]}
 
df = pd.DataFrame(data)

# Categorize gender
df['Gender'] = df['Gender'].map({'M': 0,'F': 1, }).astype(float)
df

      Name  Age  Gender Marks
0      Jai   17     0.0    90
1   Princi   17     1.0    76
2   Gaurav   18     0.0   NaN
3     Anuj   17     0.0    74
4     Ravi   18     0.0    65
5  Natasha   17     1.0   NaN
6     Riya   17     1.0    71

In [2]:
import pandas as pd
 
details = pd.DataFrame({
    'ID': [101, 102, 103, 104, 105,
           106, 107, 108, 109, 110],
    'NAME': ['Jagroop', 'Praveen', 'Harjot',
             'Pooja', 'Rahul', 'Nikita',
             'Saurabh', 'Ayush', 'Dolly', "Mohit"],
    'BRANCH': ['CSE', 'CSE', 'CSE', 'CSE', 'CSE',
               'CSE', 'CSE', 'CSE', 'CSE', 'CSE']})

fees_status = pd.DataFrame(
    {'ID': [101, 102, 103, 104, 105,
            106, 107, 108, 109, 110],
     'PENDING': ['5000', '250', 'NIL',
                 '9000', '15000', 'NIL',
                 '4500', '1800', '250', 'NIL']})
 
# Merging Dataframe
print(pd.merge(details, fees_status, on='ID'))

    ID     NAME BRANCH PENDING
0  101  Jagroop    CSE    5000
1  102  Praveen    CSE     250
2  103   Harjot    CSE     NIL
3  104    Pooja    CSE    9000
4  105    Rahul    CSE   15000
5  106   Nikita    CSE     NIL
6  107  Saurabh    CSE    4500
7  108    Ayush    CSE    1800
8  109    Dolly    CSE     250
9  110    Mohit    CSE     NIL

In [5]:

# combining or grouping data
import pandas as pd
car_selling_data = {'Brand': ['Maruti', 'Maruti', 'Maruti',
                              'Maruti', 'Hyundai', 'Hyundai',
                              'Toyota', 'Mahindra', 'Mahindra',
                              'Ford', 'Toyota', 'Ford'],
                    'Year':  [2010, 2011, 2009, 2013,
                              2010, 2011, 2011, 2010,
                              2013, 2010, 2010, 2011],
                    'Sold': [6, 7, 9, 8, 3, 5,
                             2, 8, 7, 2, 4, 2]
df = pd.DataFrame(car_selling_data)
 
# Group the data when year = 2010
grouped = df.groupby('Year')
print(grouped.get_group(2010))

       Brand  Year  Sold
0     Maruti  2010     6
4    Hyundai  2010     3
7   Mahindra  2010     8
9       Ford  2010     2
10    Toyota  2010     4

In [16]:
#pivoting or rotating operations
import pandas as pd
import numpy as np
data = pd.DataFrame(np.arange(6).reshape((2,3)),
 index=pd.Index(['Victoria', 'NSW'], name='state'),
 columns=pd.Index(['one','two','three'], name='number'))
print(data)
ndata=data.stack()
print(ndata)

number    one  two  three
state
Victoria    0    1      2
NSW         3    4      5
state     number
Victoria  one       0
          two       1
          three     2
NSW       one       3
          two       4
          three     5
dtype: int64

In [23]:
#data transformations
data=pd.DataFrame({'a':['apple','banana']*3,'b':[1,2,3,3,2,2]})
data.duplicated()
data.drop_duplicates()
data['c']=range(6)
data

        a  b  c
0   apple  1  0
1  banana  2  1
2   apple  3  2
3  banana  3  3
4   apple  2  4
5  banana  2  5

9.2 Perform data aggreagation and groupwise operations

In [31]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5),index=[1,2,3,4,5])
print(ser)
print("the sum is: ",ser.sum())
print("the max is: ",ser.max())
print("the min is: ",ser.min())

1    0.374540
2    0.950714
3    0.731994
4    0.598658
5    0.156019
dtype: float64
the sum is:  2.811925491708157
the max is:  0.9507143064099162
the min is:  0.15601864044243652

In [36]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)},columns=['key', 'data'] )
print(df)
df.groupby('key').sum()

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

     data
key
A       3
B       5
C       7

In [38]:
import seaborn as sns
planets = sns.load_dataset('planets')
print(planets)
print(planets.shape)
planets.groupby('method')['year'].describe().unstack()

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]
(1035, 6)

       method
count  Astrometry                          2.0
       Eclipse Timing Variations           9.0
       Imaging                            38.0
       Microlensing                       23.0
       Orbital Brightness Modulation       3.0
                                         ...
max    Pulsar Timing                    2011.0
       Pulsation Timing Variations      2007.0
       Radial Velocity                  2014.0
       Transit                          2014.0
       Transit Timing Variations        2014.0
Length: 80, dtype: float64

9.3 Perform time series operations on a dataset

In [41]:
import pandas as pd
from datetime import datetime
import numpy as np
 
range_date = pd.date_range(start ='1/1/2019', end ='2/1/2019',freq ='H')
print(range_date)
df = pd.DataFrame(range_date, columns =['date'])
df['data'] = np.random.randint(0, 100, size =(len(range_date)))
print(df.head(10))

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 01:00:00',
               '2019-01-01 02:00:00', '2019-01-01 03:00:00',
               '2019-01-01 04:00:00', '2019-01-01 05:00:00',
               '2019-01-01 06:00:00', '2019-01-01 07:00:00',
               '2019-01-01 08:00:00', '2019-01-01 09:00:00',
               ...
               '2019-01-31 15:00:00', '2019-01-31 16:00:00',
               '2019-01-31 17:00:00', '2019-01-31 18:00:00',
               '2019-01-31 19:00:00', '2019-01-31 20:00:00',
               '2019-01-31 21:00:00', '2019-01-31 22:00:00',
               '2019-01-31 23:00:00', '2019-02-01 00:00:00'],
              dtype='datetime64[ns]', length=745, freq='H')
                 date  data
0 2019-01-01 00:00:00    29
1 2019-01-01 01:00:00    45
2 2019-01-01 02:00:00    32
3 2019-01-01 03:00:00    52
4 2019-01-01 04:00:00    60
5 2019-01-01 05:00:00    84
6 2019-01-01 06:00:00     4
7 2019-01-01 07:00:00    67
8 2019-01-01 08:00:00    84
9 2019-01-01 09:00:00    65